/* Insert fonts model*/
@font-face {
    font-family: 'Nunito Sans Regular';
    src: url('../fonts/NunitoSans-Regular.woff2') format('woff2'),
        url('../fonts/fonts/NunitoSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Nunito Sans Bold';
    src: url('../fonts/NunitoSans-Bold.woff2') format('woff2'),
        url('../fonts/NunitoSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Nunito Sans Bold-Italic';
    src: url('../fonts/NunitoSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/NunitoSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: 'Nunito Sans Italic';
    src: url('../fonts/NunitoSans-Italic.woff2') format('woff2'),
        url('../fonts/NunitoSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

body {
    background-color: #EDEDED;
    color:#4c4c4c;
}

a:link {
    color: #006dcc;
}
a:visited {
    color: #808080;
}
a:hover{
    color: #2c6fef;
}
.text-salmon-pearl{
    color: #F25B47;
}
.text-bright-blue{
    color: #2c6fef;
}
.text-saffron{
    color:  #f2b135;  
}
.text-primary{
   color:  #4c4c4c;
}
.text-warning {
    color: #fbdd3d;
}
.text-success{
    color: #1BC943;
}
.text-danger {
    color: #E11428;
}
.text-weak {
    color: #808080;
}
.box{
    border: 1px solid #b3b3b3;
}
.box:hover{
    border: 1px solid #F2B135;
}

div[class*="isDisabled"]{
    color: #b3b3b3;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}
.overflow-auto{
    overflow: auto;
}
.very-light-grey{
    background-color: #ededed;
}
.tooltips-decoration {
    color: #006dcc;
    text-decoration: underline;
    
}
.tooltips-decoration:hover{
    color: #F25B47;
}
.success{
    background-color: #1BC943;
    color: #EDEDED;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .small-text{
      font-size: 0.8em;
  }
  .medium-text{
    font-size: 1em;
  }
  .large-text{
      font-size: 2.5m;
  }
  .salmon-pearl{
      background-color: #F25B47;
  }
  button{
      
  }